<div class="container">
  <!-- <p class="notice"><%#= notice %></p> -->
  <p>Username: <%= current_user.username %></p>
  <p>Skintone: <%= current_user.skintone.color %></p>
  <p>Eyecolor: <%= current_user.eyecolor.color %></p>
</div>