#site_navbar.navbar.navbar-default {
  background-color: black;
}

.homepage_header {
  text-align: center;
}

.undertonespic {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #000000;
}

/*landscape phones and smaller*/
@media(max-width: 480px) {
  h2.homepage_header {
    font-size: 18px;
  }
  .brown {
    /*border: solid black 1px;*/
    margin-left: 5px;
    padding: 5px;
  }
  .medium {
    /*border: solid black 1px;*/
    margin-left: 0px;
    padding: 5px;
  }
  .olive {
    /*border: solid black 1px;*/
    margin-left: 0px;
    padding: 5px;
  }
  .light {
    /*border: solid black 1px;*/
    margin-left: 0px;
    padding: 5px;
  }
}

/*landscape phones to portrait tablets*/
@media(min-width: 481px) and (max-width: 767px) {
  .brown {
    /*border: solid black 1px;*/
    margin-left: 50px;
    padding: 10px;
  }
  .medium {
    /*border: solid black 1px;*/
    margin-left: 50px;
    padding: 10px;
  }
  .olive {
    /*border: solid black 1px;*/
    margin-left: 50px;
    padding: 10px;
  }
  .light {
    /*border: solid black 1px;*/
    margin-left: 50px;
    padding: 10px;
  }
}

/*portrait tablets and small desktops*/
@media(min-width: 768px) and (max-width: 991px){
  .brown {
    /*border: solid black 1px;*/
    margin-left: 50px;
    padding: 10px;
  }
  .medium {
    /*border: solid black 1px;*/
    margin-left: 50px;
    padding: 10px;
  }
  .olive {
    /*border: solid black 1px;*/
    margin-left: 50px;
    padding: 10px;
  }
  .light {
    /*border: solid black 1px;*/
    margin-left: 70px;
    padding: 10px;
  }
}

/*portrait tablets and medium desktops*/
@media(min-width:992px) and (max-width: 1199px) {
 .brown{
    /*border: solid black 1px;*/
    margin-left: 100px;
    padding: 10px;
  }
  .medium {
    /*border: solid black 1px;*/
    margin-left: 100px;
    padding: 10px;
  }
  .olive {
    /*border: solid black 1px;*/
    margin-left: 100px;
    padding: 10px;
  }
  .light {
    /*border: solid black 1px;*/
    margin-left: 100px;
    padding: 10px;
  }
}

/*large desktops and laptops*/
@media only screen and (min-width:1200px) {
  .brown{
    /*border: solid black 1px;*/
    margin-left: 200px;
    padding: 10px;
  }
  .medium {
    /*border: solid black 1px;*/
    margin-left: 100px;
    padding: 10px;
  }
  .olive {
    /*border: solid black 1px;*/
    margin-left: 100px;
    padding: 10px;
  }
  .light {
    /*border: solid black 1px;*/
    margin-left: 100px;
    padding: 10px;
  }
}

/*signin page*/
.outter_signin_container {
  background-image: url(/assets/signinpic.png);
  margin-top: -70px;
  height: 720px;
  background-size: cover;
  background-repeat: no-repeat;
}

.signin_paragraph {
  margin-top: 70px;
}
.signin_page {
  text-align: center;
}


@media(max-width: 480px) {
  p.signin_paragraph {
    font-size: 14px;
  }
}
.signin_paragraph {
  font-size: 20px;
}