<div class="container">
  <h2>Edit Product</h2>
  <img src="<%= @product.image_url(:thumb) %>" />
  <%= render "form" %><br />
  <div class="btn_div"><%= button_to 'Delete Product', {:controller => :products, :action => "destroy"}, :method => :delete, :class => "btn btn-sm btn-danger" %></div>
</div>