<div class="container">
  <h2 class="homepage_header">Beauty comes in all shapes, size, and color.<br/>
  Share and find makeup colors for your skintone.</h2>
  <img class="undertonespic img-responsive" src="/assets/undertonespic.png" /><br/>
  <div>
    <span class="brown"><a href="undertonebeauty/brown-dark">Brown - Dark</a></span>
    <span class="medium"><a href="undertonebeauty/fair-medium">Fair - Medium</a></span>
    <span class="olive"><a href="undertonebeauty/olive-brown">Olive - Brown</a></span>
    <span class="light"><a href="undertonebeauty/light-fair">Light - Fair</a></span>
  </div>
</div>