<nav id="site_navbar" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- UndertoneBeauty and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/undertonebeauty"><img src="assets/undertonelogo.png" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign In</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <h2 class="homepage_header">Beauty comes in all shapes, size, and color.<br/>
  Share and find makeup colors for your skintone.</h2>
  <img class="undertonespic img-responsive" src="/assets/undertonespic.png" /><br/>
  <div>
    <span class="brown"><a href="#">Brown - Black</a></span>
    <span class="medium"><a href="#">Fair - Medium</a></span>
    <span class="olive"><a href="#">Olive - Brown</a></span>
    <span class="light"><a href="#">Light - Fair</a></span>
  </div>
</div>